* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/*---------Header---------*/

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(57,57,57,0.5),rgba(57,57,57,0.5)), url(images/banner1\ test.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.main-text{
    width: 90%;
    color: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main-text h1 {
    font-size: 90px;
}

.main-text p{
    font-size: 40px;
}

.contacto-btn {
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    color: white;
    border-radius: 30px;
    margin-top: 25px;
    padding: 12px 34px 12px;
    font-size: 25px;
    background: #89C32D;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
}

.contacto-btn:hover{
    background: #7db523;
}

/*---------Navbar---------*/

nav {
    display: flex;
    padding: 2% 3%;
    justify-content: space-between;
}

nav img {
    margin-top: -30px;
}

.navbar {
    padding: 20px 12px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding-left: 15px;
    transition: 0.2s;
}

.navbar a:hover {
    color: #AEF63A;
}

/*---------Intro-About-Me---------*/


.intro {
    padding-top: 50px;
    color: black;
    background-color: #F5F6F7;
    display: flex;
    width: 100%;
    height: 90vh;
}

.intro h1 {
    font-size: 40px;
    text-align: left;
    float: left;
    margin-top: 20%;
    margin-left: 15%;
}

.intro p {
    font-size: 20px;
    text-align: left;
    width: 50%;
    float: left;
    margin-top: 6%;
    margin-left: 15%;
    color: #4b4f58;
}

.divider-intro {
    border-top: 3px solid #89C32D;
    width: 80px;
    justify-content: center;
    margin-top: 35%;
    margin-left: 10%;
    margin-bottom: 0%;
    border-radius: 5px;
}
.foto-about {
    margin-top: 3%;
    margin-right: 10%;
}

/*---------Intro-Blog---------*/

.intro-blog {
    background-color: #F5F6F7;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-bottom: 75px;
}

.intro-blog h1 {
    font-size: 35px;
}

.intro-blog p {
    font-size: 20px;
    color: #4b4f58;
    padding-top: 1%;
}

.intro-arts {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
}

.articulos {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.articulos p {
    font-size: 15px;
}

.articulos img {
    width: 100%;
    border-radius: 10px;    
}

/*---------Contacto---------*/

.intro-contacto {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(57,57,57,0.5),rgba(57,57,57,0.5)), url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    display: block;
}

.intro-contacto h2 {
    width: 100%;
    color: white;
    position: absolute;
    top:40%;
    left: 17%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.intro-contacto p {
    font-size: 20px;
    text-align: left;
    float: left;
    flex-wrap: wrap;
    width: 100%;
    color: white;
    position: absolute;
    top:47%;
    left: 28%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.form-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: right;
    margin-right: 60px;
    padding-top:90px;
}

.formulario form {
    margin: 2px;
    height: 400px;
    width: 500px;
    background-color: rgba(204, 204, 204, 0.5);
    border: solid 1px #ccc;
    padding: 10px 20px 10px 20px;
    border-radius: 6px;
    min-width: 200px;
}

.formulario input {
    font-size: 1.25em;
    margin-top: 20px;
    padding-left: 20px;
    width: 95%;
    height: 50px;
    border-radius: 5px;
    border: solid 1px #999;
}

.formulario input[type=button] {
    background-color: #89C32D;
    width: 100%;
    color: white;
    border: none;
}

.formulario input[type=button]:hover {
    background-color: #7db523;
}

.formulario textarea {
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 1.25em;
    border-radius: 5px;
    width: 95%;
    height: 150px;
    border: solid 1px #999;
    overflow: auto;
    resize: none;
}

/*Clientes*/

.clientes {
    background-color: #F5F6F7;
    width: 100%;
    height: 700px;
    margin: auto;
    text-align: center;
}

/*Redes Sociales*/

.redes {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(57,57,57,0.5),rgba(57,57,57,0.5)), url(images/socials-test.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.socials-text {
    width: 90%;
    color: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.socials-text h2 {
    font-size: 70px;
}

.socials-text p {
    font-size: 40px;
}

.redes-links {
    display: flex;
    margin-left: 31%;
    margin-top: 15px;
}

.redes-links a {
    width: 90px;
    height: 90px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgba(137, 195, 45, .5);
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, .05);
    margin: 0 30px;
    border-radius: 50%;
}

.redes-links a .fa-brands {
    font-size: 50px;
    line-height: 90px;   
}

.redes-links a:hover {
    background-color: rgba(137, 195, 45, .7);
}

footer {
    background-color: #38393B;
    text-align: center;
    align-items: center;
    color: white;
}

footer a {
    color: white;
}

/* Nosotros Page */

.header-nosotros {

    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(57,57,57,0.5),rgba(57,57,57,0.5)), url(images/nosotros\ back\ test.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}

.intro {
    display: flex;
    flex-direction: row;
}

.intro p {
    width: 50%;
}

.intro a {
    color: black;
}

.foto-nosotros {
    
    margin-top: 3%;
    margin-right: 10%;

}

.long-about {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #F5F6F7;
}

.long-about p {
    width: 80%;
    font-size: 20px;
    text-align: left;
    color: #4b4f58;
}